.imagen {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    
}

.imagen img {
    width: 900px;
    height: auto;
    max-width: 100%
     
}

.imagen figure{
    margin: 0;
    padding: 0;
}

.imagen h2 {
    margin: 2%;
    padding: 2%;
}

.text{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5%;
    
}

.text2 {
    text-align: center;
}



