html, body, button {
    background-color: rgb(235, 230, 213);
    font-family: Cooper;
    color: rgb(39, 66, 36);
    
}

html, body {
    width: 100%;
    height: 100%;
    margin: 20px;
}

body{
    margin: 0px;
    padding: 0px;
}



.logomenu img{
    max-width: 100%;
    height: auto;
}

.logofooter {
    text-align: center;
}

.logofooter2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logofooter {
    max-width: 100%
}

.logofooter2 img {
    width: 100%;
    height: auto;
    max-width: 100%
}

